
* {
	margin: 0px;
	padding: 0px;
}

h1{
	font-family: 'Boogaloo', cursive;
	font-size: 42px;
}

html, body{
	width: 100%;
	height: 100%;
}

/* Estilo menu superior*/
.menu-sup{
	margin-bottom: 0px;
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: rgba(0,0,0,.8);
	z-index: 2;
	color: white;
	font-family: 'Boogaloo', cursive;
	font-size: 25px;
}

.menu-sup div{
	height: 100%;
	padding-top: 10px;
	text-align: center;
	text-shadow: 2px 2px 2px #000;
}

.menu-sup div:hover{
	background: #00d2ff;
}

/* Estilo banner*/
.img-desfoque{
	background-image: url('../../imgs/img5-desfoque.jpg');
	background-size: 100%;
}

.banner{
	background-image: url('../../imgs/img5-bw.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	z-index: 1;
}

.titu-banner{
	padding-top: 150px;
	font-size: 70px;
	color: #00d2ff;
	text-shadow: 2px 2px 2px #111;
}

.sub-titu-banner{
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 60px;
	color: white;
	padding-top: 50px;
	padding-bottom: 170px;
	text-shadow: 2px 2px 2px #111;
}

@media screen and (max-width: 620px){
	.titu-banner{
		font-size: 45px;
		padding-top: 100px;
	}

	.sub-titu-banner{
		font-size: 25px;
		padding-top: 20px;
		padding-bottom: 80px;
	}

}

/* Estilo da area Sobre Mim*/
.artc1{
	height: 80%;
}


/* Estilo portifolio */
.artc2{
	height: 80%;
	background: #00d2ff;
}

/* Estilo contato */
.artc3{
	height: 80%;
	background: #eee;
}

/* Estilo rodapé */
footer{
	background: #333;
	color: white;
	height: 40%;
}